html{
  align-items: center;
}

body{
  margin-top: 20px;
  margin-bottom:20px;
  container:center;
  max-width: 800px;
  font-family:Garamond,serif;
}

.center-top-content{
  border-bottom-style:groove;
  border-bottom-color:#33485e;
  margin:auto;
  container:center;
}


h1{
  text-transform: uppercase;
  color: #33485e;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom:0px
  font-family:helvetica,sans-serif;
}

ul{
  list-style-type:none;
  text-align: center;
  display: inline-block;
  padding:0;
  margin:0;
  overflow:hidden;

}
li a{
  display: inline-block;

}

.personal-title {
  font-style: italic;
  text-align: center;
  color:#D3D3D3;
}
.main-content {
  width:80%;
  align:center;
}
.introduction {
  letter-spacing: 2px;
  line-height: 1.8;
}

img {
  width: 33%;
  height: auto;
}

.highlight-me {
  background-color: #33485e;
  padding-bottom: 3px;
  padding-top:3px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  color: white;
}

h2{
  background-color:#33485e;
  color:white;
  padding: 5px;
  font-family:helvetica,sans-serif;
}
h4 {
  font-weight: normal;
  font-family:helvetica,sans-serif;
}

h5 {
  font-weight: normal;
  font-style: italic;
  font-family:helvetica,sans-serif;
}
.container-experience{
  margin-bottom: 5px;
  margin-top:5px;
  font-size: 14px;
}
.university{
  font-style: italic;
}
