h1 {
    color:#33485e;
    font-size: 36px;
    font-family: helvetica;
    text-transform: uppercase;
    letter-spacing:2px;
    container: center;
    margin-bottom: 0px;
}
body{
    max-width:800px;
    container:center;
    margin-top:20px;
    margin-right:20px;
    font-family:serif;
}

.center-top-content{
    container:center;
    border-bottom:#39CCCC;
}

.nav{
  padding-bottom:2;
  list-style-type:none;
}

.work-title{
    container: center;
    color: #D3D3D3;
}

.main-content{
  width:80%;
  spacing:center;
}
.photo{
  float:right;
  container:33%;
}

}
.introduction{
  line-height:2px;
}

ul{
  list-style-type: none;
  display: inline-block;
}

h2 {
  font-family: sans-serif;
  background-color: #33485e;
  color: white;
  padding:5px;
}

.container-experience p {
  font-size: 14px
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-family: helvetica;
}

h4 {
  font-family: helvetica;
  font-weight: normal;
  p-styles
}

h5 {
  font-family: helvetica;
  font-style: italic;
  font-weight: normal;
}
