h1 {
    color:#33485e;
    font-size: 36px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px
    text-align: center;
    margin-bottom: 0px;
}
body{
    max-width: 800px;
    text-align: center;
    top-margin: 20px;
    bottom-margin:20px
    font-family: serif;
}
.center-top-content{
    text-align:center;
    border-bottom:#39CCCC;
}

.nav{
  padding-bottom:2;
  list-style-type: none;
}

.work-title{
    align-content: center;
    color: #D3D3D3;
}
div.main-content{
  width:80%
  spacing:center;
}
.photo{
  align:right;
  width:33%;
}
.introduction{
  line-height:2px;
}

h2 {
  font-family: sans-serif;
  background-color: #33485e;
  font-color: white
  padding:5px;
}

div.container-experience p{
  font-size: 14px
  margin-top: 5px;
  margin-bottom: 5px;

}

h3 {
  font-family: sans-serif;
}

h4 {
  font-family: sans-serif;
  font-weight: normal;
  p-styles
}

h5 {
  font-family: sans-serif;
  font-style: italic;
  font-weight: normal;
}
