img{
  width:70%;
}

.about-me-photo img{
  width:70%;
  border-radius: 50%
}
body {
  background-color: #ECF1DA;
  margin-top: 20px;
  margin-bottom:20px;
  font-family: 'Roboto Mono', monospace;
}
.personal-title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color:grey;
}

.center-top-content{
  margin-top:0;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #D4E4F7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-transform: uppercase;
  color: #457587;
  letter-spacing: 8px;
  font-weight: 400;
}

#navigation {
  text-align: center;
}

#navigation li{
  display: inline-block;
}

#navigation > li:not(:last-child)::after {
  content: "|";
  margin: 0 .25em;
}


.introduction {
  line-height: 1.8;
  overflow: auto;
}

.introduction img {
 width: 33%;
 float: right;
 margin-top: 16px;
 margin-left: 20px;
 margin-bottom: 20px;
 margin-bottom: 0;
}

.highlight {
  background-color: #33485e;
  padding-bottom: 3px;
  padding-top:3px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  color: white;
}

h2 {
  background-color:#699A46;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 8px;
  text-align: center;
}

h4, h5 {
  font-weight: 200;
}

h5 {
  font-style: italic;
}

.container-experience p {
  font-size: 14px;
}

.university {
  font-style: italic;
}

.about-title {
  text-align: center;
  font-size: 100px;
  font-family: 'PT Serif', serif;
  padding: 5px;
  background-color: #FBFDF2;
  color: #B72AB2;
}

.col-md-5 {
  margin-left: 0px;
  margin-top: 100px;
}
.col-md-7 {
  margin-top: 40px;
  float: right;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  font-size: 20px;
  background-color:#699A46;
  color: white;
}

.col-md-7 p{
  margin-top:50px;
}
.col-md-4 {
  height: 200px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom:5px;
  background-clip: content-box;
  text-align: center;


}

.work-title{
  margin-top: 20px;
  margin-bottom:20px;
  margin-left: 200px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 200;
  text-align: center;
  padding:5px;
  font-family: 'Quicksand', sans-serif;
}

.work-pictures img{
margin-left: 20px;
margin-right: 20px;
height: 100%;
overflow: hidden;
}

.col-md-12 {
    text-transform: uppercase;
    color: #457587;
    letter-spacing: 8px;
    font-weight: 400;
    font-size: 50px;
}

.row-b {
  margin-bottom: 40px;
